@charset "UTF-8";
/**
 *
 * @authors Rehack (www.rehack.cn)
 * @date    2015-12-19 10:00:18
 * @version $Id$
 */

/*pc css reset*/
body,div,ul,ol,li,img,p,dl,dt,dd,a,span,input,h1,h2,h3,h4,h5,h6,table,th,tr,td{margin: 0;padding: 0;}
body{font-size: 14px;text-align: justify;font-family: Tahoma, Arial, 'Microsoft YaHei', sans-serif;}
a{text-decoration: none;color: #FF7200;}
img{border: 0;display:inline-block;}
ul{overflow: hidden;list-style: none;}
table {border-collapse:collapse;border-spacing:0;}
.clear{clear: both;}
.ovhd{overflow: hidden;}
.none{display: none;}
.left{float: left;}
.right{float: right;}
.mr0{margin-right: 0!important;}
